@media(max-width:1500px){
    .container{
        grid-template-columns: auto auto  !important;
        grid-template-areas: 'fname lname' 
        
                              'mail mobile'
                             'pwd1 pwd2'
                            'caddress ccountry' 
                             'cstate paddress'
                              'pcountry pstate'
                               'city radio'
                               'captcha-res captcha-expr'
                                'subscribe subscribe'
                                'submit submit' !important;

                          
            margin-top: 0 !important;
            column-gap: 30px !important;
            padding-left: 40px !important;
            padding-right: 20px !important;
            width: 600px !important;
            
           
           
        
    }
    #exprsn{
        width: 300px !important;
    }
    
}
@media(min-width:1250px){
    #sub-radio {
        display:inline-block !important;
        margin-left: 20px;
    
    }
}
@media(max-width:1000px){
    .container{
        grid-template-columns: 100% !important;
        grid-template-areas: 'fname' 
                            'lname' 
        
                              'mail' ' mobile'
                             'pwd1'  'pwd2'
                            'caddress' 'ccountry' 
                             'cstate' 'paddress'
                              'pcountry' 'pstate'
                               'city' 'radio'
                               'captcha-res' 'captcha-expr'
                                'subscribe' 'submit' !important;


                                height:auto  !important;

                                padding-left: auto;
                                padding-right: auto;

                            
    }
    .captcha1{
        margin-left: 150px !important;
        
       
    }
    input[type="text"],input[type="password"],input[type="tel"]{
        
        width:300px !important;
        
    }
   
    
    select{
       
        width:300px !important;
        
    }
}

@media(max-width:1250px)and (min-width:650px){

    .container>*{
        margin-right: auto;
        margin-left: auto;
        margin-top:20px;
    }

    #btn{
        margin-left:0 !important;

    }

    .wrapper{
        height:100% !important;
        width:700px !important;
        padding-bottom: 40px !important;
        padding-left:50px !important;
        padding-right: 50px !important;
    }

    #exprsn{
        padding-left: 30px !important;
    }
    

  
    
    }
    #exprsn{
        width:100px !important;
    }
    .captcha-expr{
        margin-top:-10px !important;
        margin-left:40px !important;
    }
   
    
    .radio{
        margin-top:20px !important;
    }
    .subscribe{
        margin-left:auto !important;
        margin-right: auto !important;
    }
  

}

@media(max-width:800px){
    
    .wrapper{
        height:100% !important;
    }
    input[type="text"],input[type="password"],input[type="tel"]{
        
        width:300px !important;
        
    }
   
    
    select{
       
        width:300px !important;
        
    }
    .container>*{
        margin-right: auto;
        margin-left: auto;
        margin-top:10px !important;
    }
    .subscribe{
        display: inline !important;
        margin: auto !important;
    }
    #btn{
        margin-top:20px !important;
        width:400px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    #exprsn{
        width:200px !important;
        padding-left: 70px !important;
    }
    
    
}
@media(max-width:650px){
    .container *{
        margin-left: auto !important;
        margin-right: auto !important;
    }
    #heading{
        position: relative !important;
        left: 10% !important;

    }


}

@media(max-width:600px){
    .container{
        width:550 !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    input[type="text"],input[type="password"],input[type="tel"]{
        
        width:300px !important;
        
    }
   
    
    select{
       
        width:300px !important;
        
    }
    .wrapper{
        background-image: none !important;
    }
    #heading{
     color: rgb(33,54,179) !important
     
    }
    #btn{
        margin-top:20px !important;
        width:300px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    #radio2,#radio1,#radio3{
        margin-left:15px !important;
        margin-right:15px !important;
    }

 
}
@media(max-width:400px){

    form  *{
       
        margin-left: -15px !important;
    }
    
    .subscribe{
        margin-left:0 !important;
      
    }
    #exprsn{
        width: 150px !important;
        padding-left: 50px !important;
    }
    #refresh{
        margin-left:20px !important
    }
    #btn{
       
        width:280px !important;
        margin-left:-10px !important;
       
    }
    .subscribe{
        margin-left: 0px !important;
    }
    #sub-radio{
        margin-left: 20px !important;
      
    }
    .sub-textY{
        margin-right: 20px !important;
        margin-left: 10px !important;
    }
    .sub-textN{
        
        margin-left: 10px !important;
    }
    .container {
       position:absolute !important;
       left: 10px !important;;
    }
    #heading{
        position: relative !important;
        left:130px !important;
    }
    input[type="text"],input[type="password"],input[type="tel"],select{
        
        width:200px !important;
        
    }
    .captcha-res{
        position: relative !important;
        left:10px !important;
        
      
    }
    .captcha-expr{
        position: relative !important;
        left:20px !important;
        
      
    }

  

}
@media(max-width:370px){
   .wrapper{
       background-image: none !important;
   }
   #heading{
    color: rgb(33,54,179) !important
    
   }
  
   #radio2,#radio1,#radio3{
    margin-left:12px !important;
    margin-right:12px !important;
}
}


*{
    box-sizing: border-box;
}
#heading{
    color:white;
    text-align: center;
    padding-top: 20px;
    
}
.wrapper{
    background-image: linear-gradient(to right, rgb(33,54,179), rgb(1,172,244));
    max-width:1000px;
    height:100%;
    margin-left: auto;
    margin-right: auto;
}
.container {
    display: grid;
    background: white;
    margin-left: auto;
    margin-right: auto;
    margin-top:2%;

    width:85%;
    height:87%;
    padding:20px;
    border-radius: 40px;
    grid-template-columns: auto auto auto ;
    column-gap: 50px;
    padding:40px;

    grid-template-areas: 'fname lname mail'
                          'mobile pwd1 pwd2'
                          'caddress ccountry cstate'
                          'paddress pcountry pstate'
                          'city radio subscribe'
                          'captcha-res captcha-expr captcha-expr'
                          'submit submit submit';
 
    
   
   
    
}
.container>*{
   
    margin-bottom:20px !important;
}




input[type="text"],input[type="password"],input[type="tel"]{
    height:40px;
    width:230px;
    border-radius: 20px;
    border: 1px solid rgb(204,204,204);
    background: none;
    outline:none;
    padding-left:10px;
}
.form-field:focus {
   border-color: rgb(63, 63, 243);
}

select{
    height:40px;
    width:230px;
    border-radius: 20px;
    border: 1px solid rgb(204,204,204);
    background: none;
    outline:none;
    padding-left:10px;

}

.req{
    padding-left:20px;
    color:red;
    margin-top:-10px;
    font-size: 14px;
    position: relative;
    left: -10px;
   
}

::placeholder{
    color:grey;
}

#btn{
    border-radius: 40px;
    height:40px;
    
    width:250px;
    margin-left:27%;
    background-color: rgb(27,102,202);
    outline: none;
    border:none;
    color:white;
    font-size: 20px;

}
#btn:hover{
    background-color: rgb(13,56,133);
}

.sub{
    margin-top:10px;
    margin-left:20px;
}
.subscribe{
    margin-left:20px;
}

input:focus::placeholder {
    color: transparent;
  }

.fname{
    grid-area: fname;
}
.lname{
    grid-area: lname;
}
.mail{
    grid-area: mail;
}
.mobile{
    grid-area: mobile;
}

.pwd1{
    grid-area: pwd1;
}

.pwd2{
    grid-area: pwd2;
}
.caddress{
    grid-area:caddress;
}
.ccountry{
    grid-area: ccountry;
}
.cstate{
    grid-area:cstate;
}

.paddress{
    grid-area:paddress;
}
.pcountry{
    grid-area: pcountry;
}
.pstate{
    grid-area:pstate;
}
.city{
    grid-area:city;
}
.radio{
    grid-area:radio;
    margin-top:10px;
}
.subscribe{
    grid-area:subscribe;
    margin-top:10px;
}

.captcha-res{
    grid-area:captcha-res;
    margin-top:-10px;
  
}
.captcha-expr{
    grid-area:captcha-expr;
    
    
}

#result:focus  + #errormsg{
    visibility: hidden;
    

}
#exprsn{
    padding-left: 25px;
}



#refresh{
            
    outline:none;
    border:none;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color: transparent;
}

.fas{
   
    font-size: 2em;
    color:rgba(8, 51, 170, 0.788)
}

#extra{
    height:60px;
}

/*input:focus ~ .req{
    visibility: hidden;
}*/


.submit{
    grid-area: submit;
}

.star{
    display: block;
}







