
@media(min-width:1250px){
    #sub-radio {
        display:inline-block !important;
        margin-left: 20px;
    
    }
}

@media(max-width:1250px)and (min-width:650px){

    .container{
        grid-template-columns: auto auto  !important;
        grid-template-areas: 'fname lname' 
        
                              'mail mobile'
                             'pwd1 pwd2'
                            'caddress ccountry' 
                             'cstate paddress'
                              'pcountry pstate'
                               'city radio'
                                'subscribe submit' !important;

                               width:65% !important;
            width:600px !important;
            margin-top: 0 !important;
            column-gap: 0px !important;
            padding-left: 30px !important;
           
           
        
    }
    .container>*{
        margin-right: auto;
        margin-left: auto;
        margin-top:30px;
    }

    #btn{
        margin-left:0 !important;

    }

    .wrapper{
        height:100% !important;
        width:700px !important;
        padding-bottom: 40px !important;
        padding-left:50px !important;
        padding-right: 50px !important;
    }

    input[type="text"],input[type="password"],input[type="tel"]{
        
        width:220px !important;
        
    }
   
    
    select{
       
    width:220px !important;
        
    }
    .subscribe{
        margin-left:auto !important;
        margin-right: auto !important;
    }
  

}

@media(max-width:650px){
    .container{
        grid-template-columns: 100% !important;
        grid-template-areas: 'fname' 
                            'lname' 
        
                              'mail' ' mobile'
                             'pwd1'  'pwd2'
                            'caddress' 'ccountry' 
                             'cstate' 'paddress'
                              'pcountry' 'pstate'
                               'city' 'radio'
                                'subscribe' 'submit' !important;


                                height:auto  !important;

                                padding-left: auto;
                                padding-right: auto;

                            
    }
    .wrapper{
        height:100% !important;
    }
    input[type="text"],input[type="password"],input[type="tel"]{
        
        width:400px !important;
        
    }
   
    
    select{
       
        width:400px !important;
        
    }
    .container>*{
        margin-right: auto;
        margin-left: auto;
        margin-top:30px !important;
    }
    .subscribe{
        display: inline !important;
        margin: auto !important;
    }
    #btn{
        margin-top:20px !important;
        width:400px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    
}

@media(max-width:600px){
    .container{
        width:550 !important;
    }
    input[type="text"],input[type="password"],input[type="tel"]{
        
        width:300px !important;
        
    }
   
    
    select{
       
        width:300px !important;
        
    }
    #btn{
        margin-top:20px !important;
        width:300px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}


*{
    box-sizing: border-box;
}
#heading{
    color:white;
    text-align: center;
    padding-top: 20px;
    
}
.wrapper{
    background-image: linear-gradient(to right, rgb(33,54,179), rgb(1,172,244));
    max-width:1000px;
    height:100vh;
    margin-left: auto;
    margin-right: auto;
}
.container {
    display: grid;
    background: white;
    margin-left: auto;
    margin-right: auto;
    margin-top:3%;

    width:85%;
    height:80%;
    padding:20px;
    border-radius: 40px;
    grid-template-columns: auto auto auto ;
    column-gap: 50px;
    padding:40px;

    grid-template-areas: 'fname lname mail'
                          'mobile pwd1 pwd2'
                          'caddress ccountry cstate'
                          'paddress pcountry pstate'
                          'city radio subscribe'
                          'submit submit submit';
 
    
   
   
    
}




input[type="text"],input[type="password"],input[type="tel"]{
    height:40px;
    width:230px;
    border-radius: 20px;
    border: 1px solid rgb(204,204,204);
    background: none;
    outline:none;
    padding-left:10px;
}
.form-field:focus {
    border: 1px solid #ae3c33; }

select{
    height:40px;
    width:230px;
    border-radius: 20px;
    border: 1px solid rgb(204,204,204);
    background: none;
    outline:none;
    padding-left:10px;

}

.req{
    padding-left:20px;
    color:red;
    margin-top:-10px;
   
}

::placeholder{
    color:grey;
}

#btn{
    border-radius: 40px;
    height:40px;
    
    width:250px;
    margin-left:33%;
    background-color: rgb(27,102,202);
    outline: none;
    border:none;
    color:white;
    font-size: 20px;

}
#btn:hover{
    background-color: rgb(13,56,133);
}

.sub{
    margin-top:10px;
    margin-left:20px;
}
.subscribe{
    margin-left:30px;
}

.fname{
    grid-area: fname;
}
.lname{
    grid-area: lname;
}
.mail{
    grid-area: mail;
}
.mobile{
    grid-area: mobile;
}

.pwd1{
    grid-area: pwd1;
}

.pwd2{
    grid-area: pwd2;
}
.caddress{
    grid-area:caddress;
}
.ccountry{
    grid-area: ccountry;
}
.cstate{
    grid-area:cstate;
}

.paddress{
    grid-area:paddress;
}
.pcountry{
    grid-area: pcountry;
}
.pstate{
    grid-area:pstate;
}
.city{
    grid-area:city;
}
.radio{
    grid-area:radio;
}
.subscribe{
    grid-area:subscribe;
}


.submit{
    grid-area: submit;
}







